<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
		/>
		<link rel="stylesheet" href="/style/styles.css" />

		<title><%= pageTitle %></title>
	</head>
	<body class="min-h-screen w-fulls">
		<!--header-->
		<%- include('../partials/header/index') %>
		<!--main-->
		<%- body %>
		<!--footer-->
		<%- include('../partials/footer/index') %>
	</body>
	<script>
		AOS.init();
	</script>
</html>
